/**
 * Reset
 */
 * {
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    /* box-sizing: border-box; */
}

/**
 * Eléments génériques
 */

body {
    min-height: 100vh;   
}

/* Mise en forme des titres */
h1 {
    margin: 10px;
    font-size: 100px;
    font-weight: 900;
    color: #f76c5e;
}

h2 {
    margin: 10px;
    font-size: 60px;
    font-weight: 600;
    color: whitesmoke ;
}

h3 {
    margin: 10px;
    font-size: 17px;
    font-weight: 500;
    color: whitesmoke;
}


#titrePresentation{
    position: inherit;
    padding: 0px 10px;
    width: 100%;
    }

    /* Mise en forme du bouton de démarrage */
.boutonDemarrer{
    display: inline-block;
    padding: 10px 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;   
    background-color: #f68e5f;
    width: 30%;
    margin-bottom: 5px;
}
/* style au survol du curseur */
.boutonDemarrer:hover {
    background-color: whitesmoke;
    color: #f68e5f;
    }


/**
 * Eléments principaux
 */
body {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    min-height: 100vh;
    font-family: 'Roboto', sans-serif; 
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-weight: 600;
    font-size: 17px;
    color: white;
    background-color:#f68e5f;
}

.margeHaute {
    margin-top: 30px;
}

.margeBasse{
    margin-bottom: 30px;
}
/* mise en forme du tableau */
table {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    color: palevioletred;
    text-align: center;
    width: 50%;
    height: auto;
    border-collapse: separate;
    border-spacing: 0;
    font-size:medium;
    
  }
  
  td,
  th {
    padding: 15px;
    border: 1px solid #f68e5f;
  }
  
  td {
    padding: 5px;
  }
  /* Arrondir les coins du tableau uniquement */
th:first-child {
    border-top-left-radius: 10px;
  }
  th:last-child {
    border-top-right-radius: 10px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

/**
 * Mise en forme des éléments de la zone principale
 */


.ZonePresentation {
    position: relative;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
    color: white;
    width: 70vw;
    height: 60vh;
    background-color: rgb(30, 65, 97);
    border-radius: 20px;
    margin: 30px;
    padding: 10px;    
    
}

.ZoneQuiz {
    position: relative;
    display: flex;
    flex-direction:column ;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    color: white;
    width: 70vw;
    height: 70%;
    background-color: rgb(30, 65, 97);
    border-radius: 20px;
    margin: 30px; 
    padding: 10px;   
}

.zoneTheme {
    position: inherit;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-style: hidden;
    width:100% ;
    padding: 5px;
}

.zoneQuestions {
    position: inherit;
    margin-bottom: 50px;
    height: 20%;
    padding: auto;
}
/* Définition du style de la zone où est affiché le résultat attendu */
#afficherResultat{
    position: inherit;
    margin-bottom: 20px;
    color: red;
    height: 15%;
}

/* la zone des réponses     */
.zoneReponses {
    position: inherit;
    margin-left: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 100px; */
    gap: 20px;
    width: 100%;
    justify-items: center;
    align-items: center;
    padding: 2px;
    }

/* les boutons cliquables pour sélétionner la réponse     */
.zoneReponses input {
    position: inherit;
    margin-left: 20px;
    height: 50%;
    }

/* définition du style des bulles où sont affichées les réponses     */
.reponse {
    position: inherit;
    padding: 20px;
    display: flex;
    border-radius: 20px;
    background-color: #f68e5f;
    color: azure;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 1fr;

}

/* le bouton de validation de la réponse */
#validerReponse {
    position: inherit;
    margin-bottom: 50px;
    border-radius: 10px;
    justify-items: center;
    background-color: #f68e5f;
    width: 100px;
    height: 40px;
    color: whitesmoke;
}

/* mise en place de l'animation entre les questions */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn {
    opacity: 0; /* Valeur initiale opacité de la page */
	animation: fadeIn 3s ease-in-out; /* temps réglable en secondes*/
	opacity: 1;
}

/* Définition du style du compte à rebours */
.zoneAfficheTimer{
    position: absolute;
    top: 80px;
    right: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border: 2px;
    background-color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    color: #f76c5e;
    justify-content: center;
    font-weight: 600;
}

/* La zone où est affiché le score final avec le tableau */
.zoneScoreFinal {
    position: relative;
    color: red;
    font-size: xx-large;
    font-weight: 600;
    justify-content: center;
    height: 50vh;
    width: 70vw;
    display: none;
    flex-direction:column ;
    flex-wrap:nowrap;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: rgb(30, 65, 97);
    border-radius: 20px;
    margin: 30px; 
    padding: 10px;
	
}

/* définition du style du champ d'entrée de pseudo */
.zoneScoreFinal input {
    margin-top: 20px;
    border-radius: 5px;
    width: 200px;
    height: 20px;
    border-style: solid;
    border-color: #f76c5e;
}

/* Permet d'afficher une zone */
.afficher {
    display: flex;
}

/* permet de masquer une zone */
.cacher {
    display: none;
}

/** 
 * Responsive
 */


 /* En dessous de 1200 px */
@media screen and (max-width: 1200px) {
    main {
        width: 60%;
        height: 90%;
        padding: 30px;
    }
    .ZonePresentation {
        height: auto;
    }
    .zoneAfficheTimer {
        top:30px;
        right:30px;
        width: 70px;
        height: 70px;
    }
}


/* En dessous de 800 px */
@media screen and (max-width: 800px) {
    main {
        width: 90%;
        height: 90%;
        /* padding: 10px; */
    }

    h1{
        font-size: 60px;
    }

    h2{
        font-size: 40px;
    }

    footer {
        position: fixed;
        padding: 10px;
        bottom: 0;
        left: 0;
    }

    .ZonePresentation .ZoneQuiz{
        height: auto;
    }

    .zoneAfficheTimer {
        top:10px;
        right:10px;
        width: 40px;
        height: 40px;
    }

    .zoneReponses {        
        margin-left: 10px;
        margin-bottom: 10px;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        width: 100%;        
        }

    .reponse {
         
            padding: 5px;
            width: 80%;
            height: 50px;
            }
            
    .zoneScoreFinal{
        font-size: smaller;
        height: auto;
        width: auto;
    }        
}
